[Desktop Entry]
Version=1.0
Type=Application
Name=Update Manager
Name[it]=Update Manager
Name[pl]=Menedżer Aktualizacji
Comment=Install system updates and local packages for Bodhi Linux
Comment[it]=Installa gli aggiornamenti e pacchetti locali per Bodhi Linux
Comment[pl]=Instaluje aktualizacje systemu i pakiety lokalne dla Bodhi Linux
Exec=bodhi-update-manager --tray
Icon=bodhi-update-manager
Terminal=false
MimeType=application/vnd.debian.binary-package;
Categories=System;PackageManager;
StartupNotify=true
NoDisplay=false