Source: bodhi-update-manager
Section: admin
Priority: optional
Maintainer: Joseph Wiley <flux.abyss@proton.me>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 gettext,
 intltool,
 libpolkit-gobject-1-dev,
 python3-all
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://www.bodhilinux.com/

Package: bodhi-update-manager
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 pkexec | policykit-1,
 python3-gi,
 python3-apt,
 gir1.2-ayatanaappindicator3-0.1,
 gir1.2-gtk-3.0,
 gir1.2-vte-2.91
Suggests:
 flatpak,
 snapd
Description: Update manager for Bodhi Linux
 A graphical update manager for Debian/Ubuntu-based systems with support
 for APT and optional integration with Flatpak and Snap.
